

<h1>Update <%= @user.name %>'s Information</h1>


<%= form_for @user do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>


<%= f.label :phone %>
<%= f.text_field :phone %>

<%= f.submit %>
<% end %>

<%= button_to "Delete User", user_path(@user), method: :delete %>
