
<div class="container">

<h1><%= @user.name %>'s Page</h1>
<%= link_to "Update Information", edit_user_path %>
<p><b>Name:</b> <%= @user.name %> </p>
<p><b>Phone:</b> <%= @user.phone %> </p>

<h1><%= link_to "View All Users ", users_path %></h1>

<h1>My Reservations</h1>

<% @user.reservations.each do |reservation| %>
<ul>

    <%= reservation.meal %>
</ul>
<%end %>


<div>
  <%= link_to "Make A Reservation", new_reservation_path, :class => "btn btn-warning"  %>
</div>

</div>


<%= form_for @reservation do |f| %>

<%= f.label :meal %>
<%= f.text_field :meal %>

  <%= f.hidden_field :user_id, value: @user.id %>

<%= f.label :restaurant_id %>
<%= f.collection_select(:restaurant_id, @restaurants, :id,:name) %>


<%= f.submit %>
<% end %>
